<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
        <init-param>
            <param-name>author</param-name>
            <param-value>zzy(servlet)</param-value>
        </init-param>
        <init-param>
            <param-name>site</param-name>
            <param-value>https://zy080080.github.io(servlet)</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ParamServlet</servlet-name>
        <servlet-class>ParamServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ParamServlet</servlet-name>
        <url-pattern>/param</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HeaderServlet</servlet-name>
        <servlet-class>HeaderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HeaderServlet</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetCookieServlet</servlet-name>
        <servlet-class>SetCookieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SetCookieServlet</servlet-name>
        <url-pattern>/setCookie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCookieServlet</servlet-name>
        <servlet-class>GetCookieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCookieServlet</servlet-name>
        <url-pattern>/getCookie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetSessionServlet</servlet-name>
        <servlet-class>SetSessionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SetSessionServlet</servlet-name>
        <url-pattern>/setSession</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSessionServlet</servlet-name>
        <servlet-class>GetSessionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetSessionServlet</servlet-name>
        <url-pattern>/getSession</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientJumpServlet</servlet-name>
        <servlet-class>ClientJumpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientJumpServlet</servlet-name>
        <url-pattern>/jump1</url-pattern>
    </servlet-mapping>
</web-app>